.feed {
    min-height: 915px;
    padding-bottom: 50px;
    &__item {
        margin-top: 60px;
        display: flex;
        align-items:flex-start;
    }
    &__img {
        width: 169px;
        height: 169px;
    }
    &__text {
        margin-left: 60px;
        padding-right: 40px;
    }
    &__client {
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__count {
        font-weight: 500;
        font-size: 14px;
        line-height: 15px;
        color: #646464;
    }
    &__descr {
        font-weight: 300;
        font-size: 16px;
        margin-top: 10px;
        color: #0D0D0D;
    }
}